:root {
    --mainColour: rgb(21, 51, 101);
    --lightColour: #3f779f;
    --shadow: rgb(24, 24, 24);
}

.wrapWeather {
    height: 400px;
    aspect-ratio: 1;
    border-radius: 8px;
    box-shadow: 0 0 12px 4px var(--shadow);
}

.wrapWeather h2, h3, h4 {
    margin: 0;
}

.tempWeather{

    border: solid black;
    border-radius: 15px;
    width: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    line-height: 30px
}
.tempTitel{
    width: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: deepskyblue;
}


#sunWeather {
    --textColor: black;
    --backgroundUrl: url("../assets/sunrise/day.png");
    color: var(--textColor);
    background: var(--backgroundUrl);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    aspect-ratio: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}
.sunWeatherDark {
    --textColor: white !important;
    --backgroundUrl: url("../assets/sunrise/night.png") !important;
}
.sunTime {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.sunTime div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#progressWeather {
    width: 80%;
}
.wrapProgressBar {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 20px 10px 8px 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px black;
    backdrop-filter: blur(6px) brightness(90%);
}
.sunWeatherDark .wrapProgressBar {
    backdrop-filter: blur(6px) brightness(120%);
}
.wrapBar {
    width: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.progressBar {
    background-color: var(--textColor);
    width: 4px;
    height: 20px;
}
.progressBar:not(.now) {
    opacity: 75%;
}
.wrapBar:nth-child(even) .progressBar:not(.now) {
    opacity: 50%;
}
.progressBar.now {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: linear-gradient(0.25turn, #ffd938, #ffb336);
}

/* WIND */
.wrapWind {
    aspect-ratio: 1.75;
    background-image: url("../assets/sunrise/sunrise.png");
    background-size: cover;
    background-position: center;
    padding: 40px;
}
.dangerLevels {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
}
.dangerLevel {
    border-right: solid;
    width: 100%;
    height: 20px;
}
.dangerLevel:last-child {
    border: none;
}
.compas {
    background-image: url("../assets/compas/compas.png");
    background-position: center;
    background-size: cover;
    height: 200px;
    aspect-ratio: 1;
    display: grid;
    place-items: center;
}
.compas .arrow {
    --arrowRotation: 0deg;
    background-image: url("../assets/compas/arrow.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 28%;
    aspect-ratio: 1;
    rotate: var(--arrowRotation);
}