:root {
    --mainColour: 110, 167, 255;
    --lightColour: #73c3ff;
    --shadow: rgb(16, 16, 16);
}

.wrapWeather {
    height: 350px;
    aspect-ratio: 1.4;
    border-style: solid;
    border-color: black;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(var(--mainColour), 15%);
}
.wrapWeather h1, h2, h3 {
    margin: 0;
}
.weatherBar {
    background: linear-gradient(to top left, rgb(var(--mainColour)), var(--lightColour));
    box-shadow: 0 0 10px 2px var(--shadow);
    display: grid;
    place-items: center;
}
.weatherHeader {
    border-radius: 12px 12px 0 0;
    height: 100px;
}
.weatherFooter {
    background-color: var(--mainColour);
    height: 80px;
}
.weatherContent {
    display: flex;
    align-items: center;
}